/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  font-family: Microsoft JhengHei;
}
.Logo_bar{
  height: 75px;
  border: 1px solid #DEB887;;
  background: #DEB887;;
}
.Logo_bar div{
  margin: 0 auto;
  width: 1000px;
}
.Logo_bar ul{
  /*float: left;*/
}
.Logo_bar img{
  width: 30px;
}
.Logo_bar li {
  float: left;
  /*padding-top: 10px;*/
  padding-right: 20px;
  /*font-family: DFKai-sb;*/
}
.Logo_bar li a{
  color: white;
  text-decoration: none; 
  font-size: 20px;
  /*margin-top: 5px;*/
}
.Logo_bar li p{
  color: white;
  font-size: 60px;
}
.Logo_bar a{
  display: block;
  padding: 5px;
}
.bar{
  margin-top: 40px;
}
.clear{
  clear: both;
}
.Bottom_bar{
  height: 50px;
  background-color: #FFDEAD;
}
.Bottom_bar  div{
  margin: 0 auto;
  height: 50px;
  width: 1000px;
}
.Bottom_bar li{
  float: left;
  font-size: 15px;
  padding: 10px 20px 19px 8px;

}
.Bottom_bar li a{
  color: black;
  text-decoration: none; 
}

.Bottom_bar a{
  display: block;

}
.news ,.cloothes ,.shoes,.sweateres,.Accessories,.backpacks,.sports,.mens ,.brands{
  display: none;
  margin-top: -30px;
  height: 450px;
}
.news div ,.cloothes div ,.shoes div,.sweateres div,.Accessories div,.backpacks div,.sports div,.mens div,.brands div{
  margin: 0 auto;
  width: 1000px;
  height: 450px;
  background: white;
}
.news ul,.cloothes ul,.shoes ul,.sweateres ul ,.Accessories ul ,.backpacks ul ,.sports ul,.mens ul,.brands ul{
  float: left;
  width: 250px;
  padding-right: 100px;
  
}
.news li,.cloothes li,.shoes li ,.sweateres li,.Accessories li ,.backpacks li,.sports li,.mens li,.brands li{
  padding: 10px 0px 10px 5px;
  /*border:1px solid black;*/
  
}
.news h2 ,.cloothes h2,.shoes h2 ,.sweateres h2,.Accessories h2,.backpacks h2,.sports h2,.mens h2,.brands h2{
  padding-bottom: 10px;
  border-bottom: 2px solid #E1E7EB;
}
.news a ,.cloothes a,.shoes a , .sweateres a ,.Accessories a ,.backpacks a,.sports a,.mens a,.brands a{
  text-decoration: none; 
  color: black;
  /*font-family: DFKai-sb;*/
  
}

.wrap{
  width:1000px;
  margin: 0 auto;
  background-color: #FFDEAD;
  margin-top: 10px;
}

.billboard{
  width:100%;
  margin: 0 auto;
  height: 400px;
  background-color: gray;
}

.slideshow{
  width: 100%;
  height: 100%;
}

.content{
  height: 500px;
}

.left-bar{
  width:11%;
  float: left;
  padding: 1%;
  margin: 1%;
  background-color: #DEB887;
}

.left-bar ul{
  margin-bottom: 20px;
}

.left-bar a{
  text-decoration: none;
}

.left-bar a h1{
  font-size: 20px;
  color: black;
  padding: 5% 0%;
}

.left-bar li{
  padding: 5% 10%;
}

.showcase{
  width:82%;
  float: left;
  padding: 1%;
  margin: 1% 1% 1% 0%;
  background-color: #F5F5F5;
}

.showcase h1{
  display: block;
  padding: 1% 3%;
  background-color: #DEB887;
}

.showcase li{
  float: left;
  width: 29.3%;
  margin: 2%;
  position: relative;
  background-color: #FFFFFF;  
}

.showcase  li h2{
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 1% 0%;
}

.showcase li h3{
  text-align: center;
  text-decoration: none;
  margin: 1% 0%;
}

.showcase p{
  text-align: center;
  text-decoration: none;
  color: #FF0000;
  padding-bottom: 5%;
  margin: 1% 0%;
}

.product{
  width: 100%;
}

.clear{
  clear: both;
}
    .left{
      width: 300px;
      float: left;
    }
    .left button{
      width: 250px;
      background-color: #DDE0DF;
      text-decoration: none;
      font-size: 25px;
      float: left;
    }
    .left ul{
      margin: 58px 10px 0px 25px;
    }
    .right{
      width: 700px;
      float: left;
      margin-bottom: 50px;
    }
    .right h2{
      width: 650px;
      font-size: 30px;
      padding:20px 10px 8px 0px;
      border-bottom: 2px solid #E1E7EB;
      text-align: center;
    }
    .right ul{
      height: 150px;
      width: 650px;
      border:1px solid black ;
      margin:20px 10px 0px 0px;
    }
    .right li{
      float: left;
      margin: 25px 50px 0px 0px;
      height: 100px;
    }
    .right li:last-child {
      float: right;
      height: 100px;
    }
    .right p{
      padding-top: 20px;
      text-align: left;
    }
    .right button{
      margin-top: 80px;
      width: 100px;
      background-color: #DDE0DF;
      text-decoration: none;
      font-size: 15px;
      /*float: left;*/
    }
    .right img{
      height: 100px;
    }
    .right input{
      margin-top: 25px;
    }

        .left{
      width: 300px;
      float: left;
    }
    .left button{
      width: 250px;
      background-color: #DDE0DF;
      text-decoration: none;
      font-size: 25px;
      margin:0px 0px 20px 0px;
      float: left;
    }
    .left ul{
      margin: 58px 10px 0px 25px;
    }
    .right{
      width: 700px;
      float: left;
      margin-bottom: 50px;
    }
    .right h2{
      width: 650px;
      font-size: 30px;
      padding:20px 10px 8px 0px;
      border-bottom: 2px solid #E1E7EB;
      text-align: center;
    }
    .right ul{
      height: 150px;
      width: 650px;
      border:1px solid black ;
      margin:20px 10px 0px 0px;
    }
    .right li{
      float: left;
      margin: 25px 50px 0px 0px;
      height: 100px;
    }
    .right li:last-child {
      float: right;
      height: 100px;
    }
    .right p{
      padding-top: 20px;
      text-align: left;
    }
    .right button{
      margin-top: 20px;
      width: 100px;
      background-color: #DDE0DF;
      text-decoration: none;
      font-size: 15px;
      /*float: left;*/
    }

    .right img{
      margin-left: 10px;
      height: 100px;
    }
    .increase {
      margin-top: 80px;
      width: 100px;
      background-color: #DDE0DF;
      text-decoration: none;
      font-size: 15px;
      float: right;
      margin-right: 50px;
    }
    .chartlist input{
      margin: 8px 0px 0px 0px;
    }
    .content{

}

.content h1{
  display: block;
  padding: 1% 3%;
  background-color: #DEB887;
}

.product-info{
  width: 100%;
}

.small-pic{
  width: 6%;
  height: 400px;
  float: left;
  margin: 1% 1% 2% 1%;
}

.small-pic  li{
  margin-bottom: 10px;
}

.small-pic  li img{
  width: 100%;
  height: 100%;
}

.big-pic{
  width: 30%;
  height: 400px;
  float: left;
  margin: 1% 1% 2% 0%;
  background-color: brown;  
}

.big-pic img{
  width: 100%;
  height: 100%;
}

.info{
  width: 30%;
  height: 387px;
  float: left;
  padding: 2%;
  background-color: white;
}

.info h2{
  font-size: 24px;
  color: black;
  font-weight:bold;
  padding: 1% 0%;
}

.info h3{
  font-size: 18px;
  color: black;
  font-weight:bold;
  padding: 1% 0%;
}

.info h4{
  font-size: 18px;
  color: #B22222;
  padding: 4% 0%;
}

.info p{
  padding: 5% 0% 5% 0%;  
}

.order-box{
  width: 21%;
  height: 300px;
  float: left;
  margin: 1%;
  background-color: white;
  padding: 1% 2%;
}

.order-box h3{
  font-size: 18px;
  color: black;
  font-weight:bold;
  padding: 2% 0%;
}

.size{
  width: 50%;
  padding: 2%;
  margin-top: 4%;
  margin-left: 5% 0%;
}

.order-box a{
  text-decoration: none;
}

.order-box h4{
  font-size: 14px;
  color: #B22222;
  padding: 4% 0%;
  margin-top: 3% ;
  margin-bottom: 3%;
}

.cart{
  display: block;
  color: #FFFFFF;
  text-align: center;
  background-color: #8B4513; 
  padding: 10% 20%;
  margin-bottom: 5%;
}

.favor{
  display: block;
  color: #FFFFFF;
  text-align: center;
  background-color: #708090; 
  padding: 6% 20%;
  margin-bottom: 5%;
}

.seller-info{
  width: 21%;
  float: left;
  margin: 0% 1% 0% 1%;
  background-color: white;
  padding: 1% 2%; 
}

.seller-info h3{
  font-size: 18px;
  color: black;
  font-weight:bold;
  margin-bottom: 3%;
}

.seller-info p{
  font-size: 16px;
  color: black;
  margin-bottom: 2%;
}

.comment{
  width:85%;
  height: 400px;
  background-color: #FFFFFF;
  margin: 2% 5%;
  padding: 2%;
}

.comment h2{
  font-size: 24px;
  color: black;
  font-weight:bold;
  margin-bottom: 2%;
}

.rate{
  margin: 1% 0% 2% 0%;
}

.face{
  width: 10%;
  margin-bottom: 2%;
  float: left;
}

.comment p{
  width: 70%;
  padding: 4.2% 2%;
  margin: 0% 14% 2% 2%;
  background-color: #DEB887;
  float: left;
}
.footer{
  width:100%;
  height: 80px;
  background-color: #DEB887;
}

.footer p{
  font-size: 12px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0%;
  padding-top: 12px;
}